*{
    box-sizing: border-box;
}
/* Set bg color */
body {
     /*background: linear-gradient(to right, rgba(2,0,36,1) 0%, rgba(22,183,230,1) 35%, rgba(0,212,255,1) 100%);*/
     background: linear-gradient(to right, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
     overflow-x: hidden;
}

/*Creating header */
header {
  display:flex;
  flex-flow:row;
  flex-flow:wrap;
  position: sticky;
  top:0;
  z-index:2;
  background-color:wheat;  
  flex-basis: 100%;
  height:4em;
  margin:-0.5em;
  
}

/* Select between pages in index  and how button looks*/
.selectButton {
  display:flex;
  flex-flow:row;
  flex-basis: 100%;
  text-decoration: none;
  padding: 0.2em 2em;
  color:black;
  background: transparent;
  text-transform: uppercase;
  font-size: 2em;
}

/* For button, selection of page  for PC*/
.ulTop{
  list-style-type:none ;
  list-style-position: inside;
  line-height: 350%;
  padding:0px;
  margin:0px;
  flex-basis:60%;
}
/* For button selection of page for PC */
.liTop{
  display: inline-block;
}
/* How the button looks */
.aBox{
  text-decoration: none;
  border-left:2px solid black;
  padding: 0.2em 2em;
  color:black;
  background: transparent;
  text-transform: uppercase;

}
/* Align top text to left */
.h1Topic {
  line-height: 50%;
  flex-basis:40%;
}
/*nav menu icon */
#menu { 
  cursor: pointer;
  padding-left: 1%;
  line-height: 150%;
  font-size: 40px;
  flex-basis:5%;

}
/* H2 in content box */
h2 {
  display:flex;
  flex-flow:row;
  flex-flow:wrap;
  flex-basis: 75%;
}
/* Creating Nav menu for tablet and phone + animation */
nav {
  display:flex;
  flex-flow:row;
  flex-flow:wrap;
  background-color:wheat;
  width:300px;
  height:auto;
  z-index:2 ;
  margin-left: -0.5em;
  position:absolute;
  /* This transforms moves the drawer off canvas */
  transform:translate(-18.75em,20%);
  /* Optionally,we animated the drawer */
  transition: transform 1s ease;
}

/* animation for nav menu */
.open {
    transform:translate(0,20%) ;
}
/* title in nav menu */
.menuTitle {
  padding-left: 0.5em;
}
/* button in nav for page selection in tablet and phone*/
.menuButton {
  flex-basis: 100%;
  font-size: larger;
  padding-left: 4%;
  text-decoration: none;
  padding-bottom: 10%;
  color:black;
  background: transparent;
}
/* image for transition of image to content box */
.image {
  padding: 0.625em 2.5em;
  position: relative;
  background-color: inherit;
  width: 20%;
  border-radius: 50%;
  cursor: pointer;
}
/* animation to turn image clear when clicked on for content */
.transparent {
  opacity:0;
  transition: 1.5s;
}
/* image for transition of image to content box */
.image2 {
  padding: 0.625em 2.5em;
  margin-left: 30%;
  background-color: inherit;
  width: 20%;
  border-radius: 50%;
  cursor: pointer;
}
/* aligning image */
.left2 {
  left:0;
}
.right2 {
  left:50%;
}
/* Making of the timeline (Vertical line in the middle) */
.timeline { /* essentially limiting the width of the whole timeline */
    position: relative;
    max-width: 75em;
    margin: 0 auto;
}
.timeline::after {
    content:'';
    background-color: white;
    position:absolute;
    width:0.375em;
    top:0;
    bottom:0;
    left:50%;
    margin-left: -0.1875em;
}
/*container surrounding content */
.container {
    padding: 0.625em 2.5em;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 1.5625em;
    height: 1.5625em;
    right: -1.0625em;
    background-color: white;
    border: 0.25em solid wheat;
    top: 0.9375em;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    transform:translate(-50em,0);
    transition: transform 1.5s ease;
    left: 0;
  }
  .active {
    transform:translate(0,0);
    z-index: 1;
  }
  
  /* Place the container to the right */
  .right {
    transform:translate(50em,0);
    transition: transform 1.5s ease;
    left: 50%;
  }
  .active2{
    transform:translate(0,0);
    z-index: 1;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.375em;
    width: 0;
    z-index: 1;
    right: 1.875em;
    border: medium solid white;
    border-width: 0.625em 0 0.625em 0.625em;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.375em;
    width: 0;
    z-index: 1;
    left: 1.875em;
    border: medium solid white;
    border-width: 0.625em 0.625em 0.625em 0;
    border-color: transparent white transparent transparent; /* top right bottom left */
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -1em;
  }
  
  /* The actual content */
  .content {
    padding: 1.25em 1.875em;
    background-color: white;
    position: relative;
    border-radius: 0.3529em;
  }
   /*sound image border etc */
  #playMusic, #playMusic2, #playMusic3, #playMusic4, #playMusic5, #playMusic6, #playMusic7 {
    cursor: pointer;
    margin-left: 3%;
    flex-basis: 5%;
    border: solid black;
    border-radius: 25%;
    padding: 2%;
    min-width: 1.5em;
    max-width: 2em;
    min-height: 1.5em;
    max-height: 2em;
  }
  .selectButton:active,.image2:active ,.image:active,#menu:active,  #playMusic:active,   #playMusic2:active,   #playMusic3:active,   #playMusic4:active, #playMusic5:active,  #playMusic6:active,  #playMusic7:active   {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24)
    /* Lowering the shadow */
  }
  /* changing how the button for nav and header button looks when clicked upon */
  .menuButton:active, .aBox:active {
    background-color: black;
    color:white;
  }

  /*responsive PC  bigger than or equal to 1080px*/
  @media screen and (min-width: 1401px) { 
    #menu {
      display:none;
    }
  }


   /*responsive tablet bigger than or equal to 720 and less that 1080*/
   @media screen and (min-width:720px) and (max-width: 1400px){
    #playMusic, #playMusic2, #playMusic3, #playMusic4, #playMusic5, #playMusic6, #playMusic7 { /*sound image border etc */
      cursor: pointer;
      margin-left: 3%;
      flex-basis: 20%;
      border: solid black;
      border-radius: 25%;
      padding: 2%;
      transform: scale(0.5);
      min-width: 1.5em;
      max-width: 2em;
      min-height: 1.5em;
      max-height: 2em;
      margin-top: -2%;
    }
      /* all arrows are pointing left */
      .left {
        transform:translate(-50em,0);
        transition: transform 1.5s ease;
        left: 0;
      }
      .active {
        transform:translate(0,0);
      }
      
      /* Place the container to the right */
      .right {
        transform:translate(50em,0);
        transition: transform 1.5s ease;
        left: 50%;
      }
      .active2{
        transform:translate(0,0);
      }

      /* for content box */
    h2 {
      display:flex;
      flex-flow:row;
      flex-basis: 80%;
  
    }
    /* removing header buttons for tablet and phone */
    .ulTop{
      display: none;
    }
    /*nav menu icon for tablet and phone */
    #menu { 
      padding-left: 1%;
      padding-right: 1%;
      line-height: 150%;
      font-size: 40px;
      flex-basis:5%;
    }
    /* Align top text to left/ showing topic of the page */
    .h1Topic { 
      line-height: 50%;
      flex-basis:87%;
      text-align: center;
    }
    }


  /*responsive mobile less than 720px*/
  @media screen and (max-width: 719px) {
    #playMusic, #playMusic2, #playMusic3, #playMusic4, #playMusic5, #playMusic6, #playMusic7 { /*sound image border etc */
      cursor: pointer;
      flex-basis: 20%;
      border: solid black;
      border-radius: 25%;
      padding: 2%;
      margin-top: -7%;
      transform:scale(0.4);
      min-width: 2em;
      max-width: 3em;
      min-height: 2em;
      max-height: 3em;
      margin-top: -1.5%;
    }
    .image {
      padding: 0.625em 2.5em;
      margin-left: 5%;
      position: relative;
      background-color: inherit;
      width: 50%;
      border-radius: 50%;
    }
    .image2 {
      padding: 0.625em 2.5em;
      margin-left: 5%;
      background-color: inherit;
      width: 50%;
      border-radius: 50%;
    }
    /* all arrows are pointing left */
    .left {
      transform:translate(-50em,0);
      transition: transform 1.5s ease;
      left: 0;
    }
        /* for animation for left content box to appear */
    .active {
      transform:translate(0,0);
    }
    
    /* Place the container to the right */
    .right {
      transform:translate(-50em,0);
      transition: transform 1.5s ease;
      left: 50%;
    }
    /* for animation for right content box to appear */
    .active2{
      transform:translate(0,0);
    }
    .right2 { /*shift image to right of timeline */
      left:0%;
    }
    h2 {
    display:flex;
    flex-flow:row;
    flex-basis: 80%;

  }
  /* removing header button for tablet and phone */
    .ulTop{
      display: none;
    }
     /*nav menu icon for tablet and phone */
    #menu {
      padding-left: 1%;
      padding-right: 1%;
      line-height: 210%;
      font-size: 30px;
      flex-basis:5%;
    }
    .h1Topic { /* Align top text to left/ showing topic of the page */
      line-height: 50%;
      flex-basis:90%;
    }
  /* Place the timelime to the left */
    .timeline::after {
      left: 1.9375em;
    }
  
  /* Full-width container */
    .container {
      width: 100%;
      padding-left: 4.375em;
      padding-right: 1.5625em;
    }

    .container::before {
      left: 3.75em;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* all circles are at the same spot */
    .left::after, .right::after {
      left: 0.9375em;
    }
  
  /*all right containers behave like the left ones */
    .right {
      left: 0%;
    }

    nav {
      background-color:wheat;
      width:300px;
      height:100%;
      z-index:2 ;
      margin-left: -0.5em;
      position:absolute;
      /* This transforms moves the drawer off canvas */
      transform:translate(-300px,0);
      /* Optionally,we animated the drawer */
      transition: transform 1s ease;
    }
    .open {
        transform:translate(0,0) ;
    }
    .menuTitle {
      padding-left: 0.5em;
    }
    .menuButton { /* background color for nav */
      margin-top: -3%;
      background-color: wheat;
    }
  }